<div class="banner" style="background-image: url(<%= image_path "banner.gif"%>)">
    <div class="container">
        <h1>High-level consultation skills for GPs</h1>
        <p>
          Learn how to employ behaviour change consultation
          strategies <br>for working with patients on the lifestyle
          risk factors of smoking,<br> nutrition, alcohol and physical activity (SNAP)
        </p>
        <%= link_to "Explore Workshops", groupworkshops_path, class: "button button-orange"%>
      </div>
    </div>
    <div class="logos">
        <%= image_tag "UQ-logo.jpg", alt: "University of Queensland logo" %>
        <%= image_tag "Go8.png", alt: "Group of eight logo" %>
        <%= image_tag "MU-logo.svg", alt: "Monash University logo" %>
        <%= image_tag "ANU-logo.png", alt: "Australian National University logo" %>
        <%= image_tag "Griffith-logo.png", alt: "Griffith University logo" %>
        <%= image_tag "Athabasca_University_Logo.png", alt: "Athabasca University logo" %>
    </div>
    <div class="learning-objectives">
      <div class="container-card">
        <h2 class="pt-32">Learn how to...</h2>
        <div class="cards pt-32">
          <div class="card">
            <p>employ consultation strategies for working with patients who appear to be <span>unmotivated</span></p>
          </div>
          <div class="card">
            <p>incorporate the <span>context of the patient</span>, their family and community into plans for behaviour change</p>
          </div>
          <div class="card">
            <p>implement strategies for working with <span>patients who appear to be resistant</span>  to conversations about behaviour change</p>
          </div>
          <div class="card">
            <p>understand my <span>own feelings of helplessness</span> when working with patients on behaviour change</p>
          </div>
          <div class="card">
            <p>reflect on our <span>practice's process</span> for documenting potentially modifiable risk factors in patient records</p>
          </div>
          <div class="card">
            <p>understand the most appropriate ways to raise <span>potential risk behaviours</span> with patients</p>
          </div>
          <div class="card">
            <p>set <span>expectations of treatment</span> effectively</p>
          </div>

        </div>
      </div>
    </div>
    <div class="modules">

      <div class="module-cards">
        <div class="card card-green"> 
          <p>Learn by yourself</p>
        </div>
        <div class="card card-green"> 
          <div>
            <p>Reflect within practice</p> 
            <p>(3 x 1h workshops)</p> 
          </div>
        </div>
      </div>
    </div>