<div class="champ-block">
    <div class="page-content">
        <h2>Motivational Interviewing (MI)</h2>

        <p>Motivational Interviewing (MI) can be likened to a GP planting seeds of change in the fertile soil of a patient's mind, with the hope that some of these seeds will eventually take root and flourish. It is a <span>patient-centered approach</span> that nurtures the growth of motivation and facilitates positive behavioral changes. By understanding the essence of MI, GPs can effectively use this approach in their consultations to support patients' health behavior transformations.</p>
        <p>Just as a gardener carefully tends to their plants, GPs employing MI engage in a thoughtful and collaborative process with their patients. Here are some ways GPs can utilize MI, using the seed analogy:</p>

        <div class="row">
            <div class="col card-oars">
                <%= image_tag("oars-o.PNG") %>
                <div class="oars-content">
                    <h3>CULTIVATING THE SOIL</h3>
                    <p>GPs can begin by creating an environment that promotes <span>O</span>pen exploration and understanding. By asking open-ended questions, they gently prepare the soil for the patient to reflect and share their concerns, motivations, and desires for change.</p>
                </div>
                <div class="example">
                    <p>"What are your thoughts on making a change in your health behavior?"</p>
                </div>
            </div>

            <div class="col card-oars">
                <%= image_tag("oars-r.PNG") %>
                <div class="oars-content">
                    <h3>PLANTING THE SEEDS</h3>
                    <p><span>R</span>eflective listening is akin to planting the seeds of change. GPs can attentively listen to their patients, capturing their words and emotions, and then mirror them back. This allows the patient to witness their own thoughts and encourages a deeper examination of their ambivalence.</p>
                </div>
                <div class="example">
                    <p>"It sounds like you have mixed feelings about making this change."</p>
                </div>
            </div>
            <div class="col m-3 card-oars">
                <%= image_tag("oars-a.PNG") %>
                <div class="oars-content">
                    <h3>NURTURING GROWTH</h3>
                    <p><span>A</span>ffirmations act as nourishment for the growing seeds. These positive acknowledgments cultivate the patient's self-confidence, validating their efforts and strengths along the way.</p>
                </div>
                <div class="example">
                    <p>"I appreciate your willingness to discuss this with me."</p>
                </div>
            </div>
            <div class="col m-3 card-oars">
                <%= image_tag("oars-s.PNG") %>
                <div class="oars-content">
                    <h3>CHECKING PROGRESS</h3>
                    <p><span>S</span>ummarizing is akin to checking on the progress of the growing seeds. GPs can periodically summarize the patient's journey. This helps the patient see their progress, providing clarity and fostering a sense of accomplishment.</p>
                </div>
                <div class="example">
                    <p>"Let me make sure I understand what you've shared so far."</p>
                </div>
            </div>
        </div>

        <p>These four steps align with a well-known acronym that represents key communication techniques in Motivational Interviewing - <span>OARS</span>.</p>
        <%= image_tag("oars.PNG", class: "menu_icon img_300_size") %>

        <p>By incorporating these OARS techniques into their conversations, GPs can create a fertile ground for meaningful discussions, enabling patients to explore their motivations and make positive behavior changes. The cultivation of open-ended questions, the sowing of affirmations, the nurturing of reflective listening, and the periodic checking of progress through summarizing all contribute to the growth and development of collaborative and patient-centered consultations.</p>






        <hr>
        <div class="cloud-mirror">
            <div class="cloud cloud-correct">
                <i class="fa-solid fa-circle-check"></i>
                <p>When you imagine life without drugs, it is hard to picture, but you’re starting to wonder what this kind of change might be like</p>
            </div>

            <div class="cloud cloud-wrong">
                <i class="fa-solid fa-circle-xmark"></i>
                <p> I think you need to quit smoking because your test results show a rapid decline in health. I will write you a prescription for varenicline.</p>
            </div>
        </div>
        <%# MI quiz %>
        <%= render partial: "mi_quiz" %>
    </div>

    <div class="champ-col">
        
    </div>  
</div>