<div class="champ-block">
    <div class="page-content">
        <h2>Motivational Interviewing (MI)</h2>

        <p>During the contemplation and preparation stages, patients experience an intention-action gap, which refers to the disparity between their intention or desire to change a behavior and their actual ability or readiness to take action towards that change. This gap highlights the challenge individuals face when expressing willingness to change, yet encountering barriers that hinder them from translating their intentions into concrete actions.</p>

        <p>Motivational Interviewing (MI) is a <span>patient-centered</span> approach that can be instrumental in addressing the intention-action gap during the contemplation and preparation stages of behavior change. </p>

        <p>Please watch the video below, where you'll hear from Katrina Anderson, an experienced health professional, as she shares her valuable experience with patients and her unique perspective on MI.</p>

        <iframe width="1000" height="315" src="https://www.youtube.com/embed/RKEeRqLtKqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <p>As you have seen in the video, MI can be likened to a GP planting seeds of change in the fertile soil of a patient's mind, with the hope that some of these seeds will eventually take root and flourish. MI nurtures the growth of motivation and facilitates positive behavioral changes. By understanding the essence of MI, GPs can effectively use this approach in their consultations to support patients' health behavior transformations.</p>

        <p>Just as a gardener carefully tends to their plants, GPs employing MI engage in a thoughtful and collaborative process with their patients. Here are some ways GPs can utilize MI, using the seed analogy:</p>

        <div class="row">
            <div class="col card-oars">
                <%= image_tag("oars-o.PNG") %>
                <div class="oars-content">
                    <h3>CULTIVATING THE SOIL</h3>
                    <p>GPs can begin by creating an environment that promotes <span>O</span>pen exploration and understanding. By asking open-ended questions, they gently prepare the soil for the patient to reflect and share their concerns, motivations, and desires for change.</p>
                </div>
                <div class="example">
                    <p>"What are your thoughts on making a change in your health behavior?"</p>
                </div>
            </div>

            <div class="col card-oars">
                <%= image_tag("oars-r.PNG") %>
                <div class="oars-content">
                    <h3>PLANTING THE SEEDS</h3>
                    <p><span>R</span>eflective listening is akin to planting the seeds of change. GPs can attentively listen to their patients, capturing their words and emotions, and then mirror them back. This allows the patient to witness their own thoughts and encourages a deeper examination of their ambivalence.</p>
                </div>
                <div class="example">
                    <p>"It sounds like you have mixed feelings about making this change."</p>
                </div>
            </div>
            <div class="col m-3 card-oars">
                <%= image_tag("oars-a.PNG") %>
                <div class="oars-content">
                    <h3>NURTURING GROWTH</h3>
                    <p><span>A</span>ffirmations act as nourishment for the growing seeds. These positive acknowledgments cultivate the patient's self-confidence, validating their efforts and strengths along the way.</p>
                </div>
                <div class="example">
                    <p>"I appreciate your willingness to discuss this with me."</p>
                </div>
            </div>
            <div class="col m-3 card-oars">
                <%= image_tag("oars-s.PNG") %>
                <div class="oars-content">
                    <h3>CHECKING PROGRESS</h3>
                    <p><span>S</span>ummarizing is akin to checking on the progress of the growing seeds. GPs can periodically summarize the patient's journey. This helps the patient see their progress, providing clarity and fostering a sense of accomplishment.</p>
                </div>
                <div class="example">
                    <p>"Let me make sure I understand what you've shared so far."</p>
                </div>
            </div>
        </div>

        <p>These four steps align with a well-known acronym that represents key communication techniques in Motivational Interviewing - <span>OARS</span>.</p>
        <%= image_tag("oars.PNG", class: "menu_icon img_300_size") %>

        <p>By incorporating these OARS techniques into their conversations, GPs can create a fertile ground for meaningful discussions, enabling patients to explore their motivations and make positive behavior changes. The cultivation of open-ended questions, the sowing of affirmations, the nurturing of reflective listening, and the periodic checking of progress through summarizing all contribute to the growth and development of collaborative and patient-centered consultations.</p>


        <%# MI quiz %>
        <%= render partial: "mi_quiz" %>
    </div>

    <div class="champ-col">
        
    </div>  
</div>
<div class="navigation-buttons">
    <%= link_to "Prev", group_path(@workshop, @prev_part), class: "button button-orange" %>
    <%= link_to "Next", group_path(@workshop, @next_part), class: "button button-orange" %>
</div>